<html>

  <head>
    <title>{{ project.project.name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <style>
        .even {
        	background-color: #ddd;
        }

        .odd {
        	background-color: #fff;
        }
    </style>
  </head>

<body>
<h1>System Security Plan Info - {{ project.project.name }}</h1>


<h2>Staff</h2>

<ul>
{% for role in project.staff %}
  <li>{{ role }}: {{ project.staff[role].name }}, {{ project.staff[role].title }}</li>
{% endfor %}
</ul>
name: Sam Waterson
        title: 18F Infrastructure Director
        org: General Services Administration
        unit: 18F
        email: devops@gsa.gov

<table border="1">
  <tr>
  	<td>Role</td>
  	<td>org</td>
  	<td>title</td>
  	<td>email</td>
  	<td>unit</td>
  	<td>name</td>
  </tr>
{% for row in project.staff %}
  {% set rowloop = loop %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
  	<td>{{ row }}</td>
  {% for cell in project.staff[row] %}
    <td id="cell-{{ rowloop.index }}-{{ loop.index }}" >{{ project.staff[row][cell] }} </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>


</body>

</html>